{% extends 'layouts/app.html' %}

{% block content %}

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <header>
                <div class="icons"><i class="fa fa-table"></i></div>
                <h5>Device List</h5>
                <div class="toolbar">
                    <a href="{{ url_for('app.add_device') }}" class="btn btn-success btn-sm btn-rect">
                        <i class="fa fa-plus"></i> Add Device
                    </a>
                </div>
            </header>
            <div id="collapse4" class="body" style="min-height: 60vh;">
                <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Device ID</th>
                            <th>Device Name</th>
                            <th>Type Device</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ data['device_id']}}</td>
                            <td>{{ data['device_name'] }}</td>
                            <td>{{ data['type_device'] }}</td>
                            <td>{% if data['status']==1 %} <span class="badge bg-green">ON</span> {% else %} <span
                                    class="badge bg-red lter">OFF</span>{% endif %}</td>
                            <td>
                                <a href="{{ url_for('app.view_device', device_id=data['device_id']) }}"
                                    class="btn btn-info" data-toggle="tooltip" title="View"><i
                                        class="fas fa-eye"></i></a>
                                <a href="{{ url_for('app.edit_device', device_id=data['device_id']) }}"
                                    class="btn btn-warning" data-toggle="tooltip" title="Edit"><i
                                        class="fas fa-edit"></i></a>
                                <form method="POST"
                                    action="{{ url_for('app.delete_device', device_id=data['device_id']) }}"
                                    style="display:inline;" onsubmit="return confirm('Yakin mau hapus device ini?');">
                                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                    <button type="submit" class="btn btn-danger" data-toggle="tooltip" title="Delete"><i
                                            class="fas fa-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}


                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock %}